.carouselWrapper :global(.swiper) {
  max-width: 1300px;
  width: 90vw;
}

.carouselWrapper :global(.swiper-slide) {
  text-align: center;
  width: 100%;
  padding-top: 15px;
  height: 600px;
  font-size: 18px;
  background: linear-gradient(135deg, #eee, #fff, #eee);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselWrapper :global(.swiper-slide img) {
  display: block;
  max-width: 1300px;
  width: 90vw;
  height: 100%;
  max-height: 560px;
  object-fit: contain;
  background-color: transparent;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.control:hover {
  cursor: pointer;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.controls {
  position: absolute;
  bottom: 24px;
  right: 24px;
  z-index: 100;
  background: white;
  padding: 4px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control {
  margin: auto;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
